<!DOCTYPE html>
    <html>
        <head>
            <title>Губернский город XVIII век</title>
            <style>
                .tat{
                    width: 250px;
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                }
                div{
                    display: flex;
                }
                
                            </style>
        </head>
        <body>
            <form method="post" action="4str">
            <div><div><h2>В 1778 году казанский губернатор князь Платон Степанович Мещерский, исполняя поручение императрийцы Екатерины II заняться распланировкой проектируемых губерний и поиском мест для губернских городов, исследовал Прикамье, в том числе и Пермскую провинцию. Мещерский с большой свитой посетил Соликамск, Чердынь, Кунгур, Обвинск и ряд других более или менее населённых мест. Удобным центром провинции был признан Егошихинский завод, так как он находился на берегу судоходной Камы и почти на равном расстоянии между Казанью и Тобольском — тогдашними главными административными центрами. Предложения князя Мещерского были одобрены императрицей.
                В мае 1780 года генерал-поручик Евгений Петрович Кашкин, определённый в должность пермского генерал-губернатора, побывав сначала в Соликамске, приехал в посёлок и остановился в доме управляющего заводом. Всё лето 1780 года прошло в спешной постройке новых домов. На площади недалеко от Петропавловской церкви были построены большой двухэтажный дом для губернатора и гауптвахта для военного караула.</h2></div>
                <div class='tat'><img src = "http://3.bp.blogspot.com/-RjCgf3vWzsA/VeKMkxcEvlI/AAAAAAAAUoE/dvv66zk10Ng/s1600/%25D0%25BC%25D0%25B5%25D1%2589%25D0%25B5%25D1%2580%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2B%25D0%25BF%25D0%25BB%25D0%25B0%25D1%2582%25D0%25BE%25D0%25BD%2B%25D1%2581%25D1%2582%25D0%25B5%25D0%25BF%25D0%25B0%25D0%25BD%25D0%25BE%25D0%25B2%25D0%25B8%25D1%2587%2B%25D1%2580%25D0%25B0%25D0%25B1%25D0%25BE%25D1%2582%25D0%25B0%2B%25D0%25A4%25D0%25B5%25D1%2580%25D0%25B4%25D0%25B8%25D0%25BD%25D0%25B0%25D0%25BD%25D0%25B4%2B%25D0%25B4%25D0%25B5%2B%25D0%259C%25D0%25B5%25D0%25B9%25D1%2581%2B%2528Ferdinand%2Bde%2BMeys%25291787%2B%25D0%25B3%25D0%25BE%25D0%25B4.jpg" height='250px' widht='250px' title='Мещерский' align='right'>Мещерский</div></div>
            <h2>В ноябре 1780 года императрица Екатерина II подписала указ, в котором говорилось:
                Уважая выгодность положения Ягошихинского завода и способность места сего для учреждения в нём губернского города мы повелели нашему действительному тайному советнику генерал-прокурору князю Вяземскому согласиться с владельцами того завода об уступке оного в казну, коя весьма немалый на нём долг имеет. И как от некоторых в том заводе участников объявлено уже полное на то согласие, то мы через сие предписываем вам город губернский для Пермского наместничества назначить в сем месте, наименовав оный город Перм; и вследствие того в нём основать уже все строения, кои на первое, и особливо при случае открытия управления по учреждениям нашим, нужны будут для помещения присутственных мест.
                27 января 1781 года высочайше повелено генерал-губернатору пермскому и тобольскому Кашкину в октябре этого же года открыть Пермское наместничество в составе 16 уездов (две области — Пермская и Екатеринбургская): Пермский, Кунгурский, Соликамский, Чердынский, Обвинский, Оханский, Осинский, Красноуфимский, Екатеринбургский, Челябинский, Шадринский, Далматовский, Камышловский, Ирбитский, Верхотурский и Алапаевский, «вследствие чего в тех местах, по коим назначены уезды, учредить города».
                Летом 1781 года продолжалась постройка зданий для наместника и присутственных мест. По случаю учреждения города Петропавловская церковь 12 августа была переименована в собор. Открытие города и наместничества состоялось 18 октября 1781 года. Первым городским головой был избран купец из Кунгура Михаил Абрамович Попов.</h2>
                <div><div class='tat'><img src = "https://upload.wikimedia.org/wikipedia/commons/c/ca/Perm_COA_%28Perm_Governorate%29_%281783%29.png" height='250px' widht='250px' title='Герб Перми' align='left'>Герб Перми</div>
            <div><h2>17 июля 1783 года был утверждён герб города Перми:
                в красном поле серебряный крест, означающий первое — дикость нравов обитавших жителей, а второе — просвещение через принятия христианского закона.
                В 1788 году Егошихинский завод был закрыт в связи с истощением месторождений — производство меди продолжалось на Мотовилихинском медеплавильном заводе. Пермь стала развиваться как административный, торгово-транспортный и культурный центр Урала. В 1804 году императорским указом территория и постройки завода были переданы городу Перми «для устроения на нём заведений, какие выгоднейшими для городских доходов признаны будут».</h2></div></div>
                <div><div class='tat'><img src = "https://upload.wikimedia.org/wikipedia/commons/8/8d/Karl_Fyodorovich_Moderakh.jpg" height='250px' widht='250px' title='Модерах' align='right'>Модерах</div>
            <div><h2>В соответствии с указом императора Павла I от 12 декабря 1796 года «О новом разделении государства на губернии» Пермское наместничество было преобразовано в Пермскую губернию с центром в Перми. Губернатором был назначен Карл Фёдорович Модерах, занимавший этот пост до 1811 года. Среди прочих его заслуг историками отмечается разработанная им правильная планировка улиц Перми. А. А. Дмитриев пишет, что «К. Ф. Модерах, по старой привычке, весь отдался строительной деятельности».
                В 1804 году по указу Модераха на южной границе города были созданы ров и вал для отведения талых и дождевых вод с полей в реки Стикс и Данилиху. Строительные работы Модераха вышли далеко за пределы города. Без издержек для казны и не отягчая обывателей он довёл дороги до совершенства, удивляющего иностранцев, видевших шоссе Франции и Англии. Строительный план Модераха осуществлялся в течение всего XIX века.</h2></div></div>
            <p><b>
                <input type="submit" value="далее">
            </b></p>
            </form>
        </body>
    </html>
