<!DOCTYPE html>
    <html>
        <head>
            <title>Губернский город XIX век</title>
            <style>
                .tat{
                    width: 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                }
                div{
                    display: flex;
                }

            </style>
        </head>
        <body>
            <form method="post" action="5str">
            <h2>При Модерахе в Перми было учреждено управление казённых горных заводов по Уралу на основании нового положения 1806 года. После отставки Модераха в 1811 году в Перми сменилось несколько губернаторов, их деятельность привела к упадку и города, и губернии. В 1835 году вспыхнули бунты крестьян Кунгурского и Красноуфимского уездов. В том же году губернатор Г. К. Селастенник был отстранён от должности и предан суду по решению Сената за «нераспорядительность» и «неуважительные послабления» при подавлении крестьянских волнений.</h2>
                <div><div class='tat'><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/The_World_of_the_Carboniferous-Permian_boundary.svg/1920px-The_World_of_the_Carboniferous-Permian_boundary.svg.png" height='250px' widht='250px' title='Пермский Период' align='left'>Карта материков Пермского периода</div>
            <div><h2>В 1840 году британский геолог сэр Родерик Мурчисон, исследуя обширные выходы геологических пластов в окрестностях Перми, открыл Пермский геологический период, получивший название в честь города.</h2></div>
                <div class='tat'><img src = "https://avatars.mds.yandex.net/get-zen_doc/965902/pub_5b62fcdc9bef9e00a82fa4f2_5b6b4604525c3200ac3d30d8/scale_1200" height='250px' widht='250px' title='Мурчисон' align='right'>Родерик Мурчисон</div></div>  
            <h2>В 1842 году в Перми произошёл пожар, в котором погибла вся центральная часть города (около 300 домов). Выгорели почти все здания, ограниченных улицами Набережная (ныне Монастырская), Кунгурская (ныне Комсомольский проспект), Екатерининская и Чердынская. После него происходит окончательное смещение административного центра города в район улиц Сибирской и Покровской.
                В 1861 году в городе была открыта телеграфная контора.
                В 1863 году из-за истощения руд Мотовилихинский завод был закрыт, и в том же году ниже по течению Камы были заложены Пермские пушечные заводы.
                18 марта 1868 года по инициативе Губернского статистического комитета в Перми и её окрестностях была проведена перепись населения:
                Жителей оказалось: в Перми 11381 мужчина и 8175 женщин, всего 19556 человек; в Мотовилихинском заводе 4399 мужчин и 4321 женщина, всего 8725 человек; в деревнях Данилихе, Горках, Ермолаевой и Горюшках 385 мужчин и 421 женщина. В Перми было 14 церквей, до 40 каменных и до 2900 деревянных домов, лавок 353.
                24 августа 1878 года состоялось открытие Уральской железной дороги от Перми до Чусовой. Конец XIX века стал в Перми периодом грандиозного железнодорожного строительства. Ещё в 1874—1878 годах была введена в строй линия Пермь — Кушва — Екатеринбург. В 1897—1898 годах была проложена Пермь-Котлаская ветка, соединившая Уральскую железную дорогу с железнодорожной сетью Европейской России.</h2>
                <div><div class='tat'><img src = "https://pastvu.com/_p/a/n/k/7/nk7h025jb7oatflbn5.jpg" height='250px' widht='250px' title='Театр оперы и балета' align='right'>Театр оперы и балета</div>
            <div><h2>В конце XIX века в Перми активно развивались учреждения искусства и культуры. В 1874 году началось строительство театра оперы и балета. Осенью 1879 года там была поставлена опера «Русалка» А. С. Даргомыжского. В 1886 году был открыт первый кинотеатр — «Иллюзион». Он находился на углу улиц Большой Ямской (ныне Пушкина) и Кунгурской.
                Будущий ректор Народного университета в Турку С. Нюман так описал Пермь, через которую он проезжал в 1889 году: «Город Пермь — столица Пермской губернии — расположен на красивом месте, на левом берегу Камы. Впрочем, этот город уже по своему внешнему виду чище и приятнее, чем те, которые мы видели до сих пор в пути, за исключением Нижнего Новгорода. Тут и пышные здания, среди которых гимназия и женская школа выглядят особенно хорошими, и уютные парки. А среди них выделяется особенно тот парк, который находится рядом с Камой. Это место, где пермские барышни прогуливаются вечером».
                В 1895 году при участии главного механика Пермского почтово-телеграфного округа Конева Александра Степановича (род. 1869) была построена телефонная сеть с центральной станцией. 6 декабря 1895 года была открыта центральная телефонная станция.</h2></div></div>
            <p><b>
                <input type="submit" value="далее">
            </b></p>
            </form>
        </body>
    </html>
