<!DOCTYPE html>
    <html>
        <head>
            <title>Революции 1917 года и Гражданская война</title>
            <style>
                .tat{
                    width: 400px;
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                }
                div{
                    display: flex;
                }

            </style>
        </head>
        <body>
            <form method="post" action="6str">
            <div><div><h1>2 марта 1917 года в Пермь из Петрограда поступили первые известия о Февральской революции. Вице-губернатор Л. В. Лыщинский-Троекуров подписал официальное объявление об отречении от престола Николая II.</h2></div>
                <div class='tat'><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Lev_Vl._Lyschinsky.jpeg/548px-Lev_Vl._Lyschinsky.jpeg" height='250px' widht='250px' title='Лыщинский-Троекуров' align='Left'>Лыщинский-Троекуров</div></div>  
            <div><div><h2>5 марта на заседании совета общественных организаций был сформирован Комитет общественной безопасности (КОБ), который осуществлял власть в городе в начальный период революции. В его состав вошли: член I Государственной думы эсер С. И. Бондарев (председатель), врач и выборщик первых трёх дум В. Иванов, председатель областного военно-промышленного комитета А. Е. Ширяев, председатель Пермского биржевого комитета Н. В. Мешков, член пермской губернской земской управы В. А. Чердынцев, начальник материальной службы Пермской железной дороги Н. И. Бобин, крестьянин А. С. Пономарёв, преподаватель реального училища Н. А. Несслер и присяжный А. А. Шнееров. Комитет принял меры по охране города, начал разоружение полиции и формирование милиции. Представители прежней администрации были арестованы.</h2></div>
                <div class='tat'><img src = "https://upload.wikimedia.org/wikipedia/commons/b/b7/Bondarev_Sergei_Ivanovich2.jpg" height='250px' widht='250px' title='Бондарев' align='right'>Бондарев</div>
                <div class='tat'><img src = "https://upload.wikimedia.org/wikipedia/commons/0/08/Shiryaev_AE.jpg" height='250px' widht='250px' title='Ширяев' align='right'>Ширяев</div>
                <div class='tat'><img src = "https://upload.wikimedia.org/wikipedia/commons/5/54/Meshkov%2C_Nikolay_Vasilyevich.jpg" height='250px' widht='250px' title='Мешков' align='right'>Мешков</div></div>
            <h2>26 октября 1917 года известия о Октябрьской революции достигли Перми. 27 октября городская дума, за исключением фракции социал-демократов, осудила захват власти Петроградским Советом. 26 октября был создан коалиционный Революционный комитет. В его состав вошли по три представителя от эсеров, меньшевиков и большевиков. Пермские большевики, оказавшись в меньшинстве в комитете и не сумев навязать большинству свои взгляды, уже 1 ноября вышли из его состава.
                17 декабря в здании Пермского оперного театра состоялся I губернский съезд Советов рабочих и солдатских депутатов. Съезд провозгласил установление Советской власти в Пермской губернии и сформировал губернский исполнительный комитет, председателем которого стал большевик М. Н. Лукоянов.</h2>
                <div><div class='tat'><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/%D0%90%D0%BD%D0%B4%D1%80%D0%BE%D0%BD%D0%B8%D0%BA_%28%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9%29.jpg/274px-%D0%90%D0%BD%D0%B4%D1%80%D0%BE%D0%BD%D0%B8%D0%BA_%28%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9%29.jpg" height='250px' widht='250px' title='Андроник' align='left'>Андроник</div>  
            <div><h2>В марте 1918 года в Пермь был сослан великий князь Михаил Александрович. В ночь с 12 на 13 июня он его личный секретарь были вывезены группой заговорщиков из гостиницы «Королёвские номера» за пределы города и убиты. Тела их до сих пор не найдены. Приблизительно через месяц после этого официальными властями за контрреволюционную деятельность был арестован и казнён архиепископ Пермский и Кунгурский Андроник. Ныне Русской православной церковью он причислен к лику святых.
                24 декабря 1918 года войска армии Колчака подошли к Перми сразу с двух сторон. А уже 25 декабря после непродолжительных столкновений в районе железнодорожной станции «Пермь-2» «белые» заняли город. В результате «Пермской катастрофы» 3-й армии «красных» «белые» взяли не только Пермь, но и Глазов и Уфу.
                После отчёта комиссии ЦК РКП(б) (под руководством И. В. Сталина и Ф. Э. Дзержинского) командование Восточного фронта подготовило наступление для возвращения Перми.
                2-я и 3-я армии к 20 июня отбросили армию Гайды от реки Вятки на реку Каму и вышли на дальние подступы к Перми. В ночь с 30 июня на 1 июля 1919 года, переправившись через Каму, красные вновь заняли город. В Перми произошли кровопролитные уличные бои. Почти весь водный транспорт (почти весь камский речной флот и часть волжского) был сожжён в устье реки Чусовой возле села Лёвшино, взорван железнодорожный мост через Каму. В Пермской губернии осталось множество свидетельств отступления «белых» на восток. Гражданская война, военный коммунизм и сопутствующая им хозяйственная разруха привели к деградации городского хозяйства Перми. В 1923 году административный центр Урала был перенесён советской властью из Перми в Свердловск.
                Режим Колчака, так же как до этого Советская власть, совершил ряд преступлений, виновны в которых были в основном военные, а не гражданские власти. Самым мрачным застенком стала военная контрразведка, которая находилась в бывшем здании Духовного училища (ныне Пермский государственный институт искусств и культуры).</h2></div></div>
            <p><b>
                <input type="submit" value="далее">
            </b></p>
            </form>
        </body>
    </html>
