<!DOCTYPE html>
    <html>
        <head>
            <title>Постсоветский период</title>
            <style>
                .tat{
                    width: 1200px;
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                }
                div{
                    display: flex;
                }

            </style>
        </head>
        <body>
            <form method="post" action="/">
            <div><div><h2>Последствия общероссийского кризиса сказывались на разных сторонах жизни пермяков. В начале 1993 года вспыхнула «бюджетная война» между городскими и областными властями и в течение нескольких лет продолжалась с переменным успехом. Кроме длительного судебного процесса, «бюджетная война», запомнилась, в том числе, приездом комиссии Верховного Совета, забастовкой «Скорой помощи», перебоями работы общественного транспорта и уличного освещения.
                20 марта 1994 года произошли впервые в постсоветской истории выборы в Пермскую городскую Думу. 8 декабря 1996 года состоялись первые прямые выборы главы города. Уже в первом туре победу одержал Юрий Петрович Трутнев. Он занимал этот пост до 2000 года.
                В 2005 году была открыта первая очередь Красавинского моста. Строительство второй очереди моста и Южного обхода Перми завершено в 2008 году.</h2></div>
                <div class='tat'><img src = "https://enkospb.ru/nc_folder_files/59_107.jpg" height='700px' widht='1200px' title='план Перми' align='middle'>План Перми</div></div>
            <p><b>
                <input type="submit" value="далее">
            </b></p>
            </form>
        </body>
    </html>
